# 要素の削除

In [2]:
dictionary = {
    'A': '今西',
    'B': '航平',
    'C': '男性',
    'D': '東京都',
    'E': '海外旅行'
}
dictionary

{'A': '今西', 'B': '航平', 'C': '男性', 'D': '東京都', 'E': '海外旅行'}

In [3]:
dictionary.pop('A')

'今西'

In [6]:
dictionary

{'B': '航平', 'C': '男性', 'D': '東京都', 'E': '海外旅行'}

In [7]:
# すべての要素の削除
dictionary.clear()

In [8]:
dictionary

{}

# 情報の取得

In [10]:
dictionary = {
    'A': '今西',
    'B': '航平',
    'C': '男性',
    'D': '東京都',
    'E': '海外旅行'
}
dictionary.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [11]:
dictionary.values()

dict_values(['今西', '航平', '男性', '東京都', '海外旅行'])

In [13]:
# 辞書に男性という値があるか
'男性' in dictionary.values()

True

In [14]:
for key, value in dictionary.items():
    print(f'key: {key}, value: {value}')

key: A, value: 今西
key: B, value: 航平
key: C, value: 男性
key: D, value: 東京都
key: E, value: 海外旅行

# 辞書内の要素検索

In [16]:
dictionary = {
    'A': '今西',
    'B': '航平',
    'C': '男性',
    'D': '東京都',
    'E': '海外旅行'
}
dictionary['C']

'男性'

In [17]:
dictionary.get('C')

'男性'

In [18]:
dictionary['F']

KeyError: 'F'

In [20]:
# getメソッドで取得するとエラーが出ない
dictionary.get('F')

# if分を使って条件分岐

In [21]:
num = 1
if num > 0:
    print('正の値です')
elif num == 0:
    print('0です')
else:
    print('負の値です')

正の値です

# 論理演算子

In [24]:
a = 3
if 0 <= a < 10 and a % 2 == 0:
    print('一桁の偶数です')
elif 1 < 0 and 1 % 2 == 1:
    print('負の奇数です')
else:
    print('それ以外')

それ以外

# リストの要素を表示

In [25]:
names = ['hoge', 'fuga']
for name in names:
    print(name)

hoge
fuga

# range関数

In [26]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

# ループを抜ける

In [29]:
for i in range(10):
    if i == 6:
        print('終了')
        break
    print(i)

0
1
2
3
4
5
終了

In [30]:
for i in range(10):
    if i % 3 == 0:
        print(f'3の倍数: {i}')
    print(i)

3の倍数: 0
0
1
2
3の倍数: 3
3
4
5
3の倍数: 6
6
7
8
3の倍数: 9
9

# 複数のリストを同時に処理

In [33]:
lasts = ['加藤', '佐藤', '田中']
firsts = ['悠一', '太郎', '花子']

for last, first in zip(lasts, firsts):
    print(last + first)

加藤悠一
佐藤太郎
田中花子

# 要素と同時にインデックス情報の取得

In [34]:
lasts = ['加藤', '佐藤', '田中']
for i, last in enumerate(lasts):
    print(f'{i}番目の{last}です')

0番目の加藤です
1番目の佐藤です
2番目の田中です

# 内包表記
リストの初期化を一行で簡潔に書ける

In [35]:
nums = []
for i in range(5):
    nums.append(i * 2)
nums

[0, 2, 4, 6, 8]

In [36]:
numbers = [i * 2 for i in range(5)]
numbers

[0, 2, 4, 6, 8]